<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}CRM coffee{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/crmcoffee/css/bootstrap/css/bootstrap.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/crmcoffee/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/crmcoffee/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/crmcoffee/css/sweetalert.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/crmcoffee/plugins/daterangepicker/daterangepicker-bs3.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/crmcoffee/css/skins/skin-purple.min.css') }}">
    </head>
    <script type="text/javascript" src="{{ asset('bundles/crmcoffee/js/jquery-2.2.3.min.js') }}"></script>
    <body class="sidebar-mini tron skin-purple">
        <div class="wrapper">
            {% include 'AppBundle:Default:header.html.twig' %}
            {% include 'AppBundle:Default:menu-sidebar.html.twig' %}
            {# Content Wrapper. Contains page content #}
            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>
            <footer class="main-footer">
                <strong>CRM coffee</strong>
            </footer>
        </div>
    </body>
    <script type="text/javascript" src="{{ asset('bundles/crmcoffee/css/bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/crmcoffee/js/app.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/crmcoffee/plugins/daterangepicker/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/crmcoffee/plugins/daterangepicker/daterangepicker.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/crmcoffee/js/sweetalert.min.js') }}"></script>
    {% block javascripts %}
        
    {% endblock %}
</html>