{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<section class="content-header">
  <h1>
    Склад
  </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Бары</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-primary">
                    {% for bar in bars %}
                      <div class="box-header with-border">
                        <h4 class="box-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#{{ bar.id }}">
                            {{ bar.title }}
                          </a>
                        </h4>
                      </div>
                      <div id="{{ bar.id }}" class="panel-collapse collapse">
                          <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Количество</th>
                                            <th>Добавлен</th>
                                            <th>Обновлен</th>
                                            <th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for item in bar.stock %}
                                        <tr>
                                            <td>{{ item.ingredient.name }}</td>
                                            <td>{{ item.count }} {{ item.ingredient.type }}</td>
                                            <td>{% if item.created %}{{ item.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if item.updated %}{{ item.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td> <a href="{{ path('stock_edit', { 'id': item.id }) }}"> <button type="button" class="btn btn-info btn-flat margin">Редактировать</button> </a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                               </table>
                            </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>
{% endblock %}
