<table class="table table-hover">
	<tr>
	  <th>ID</th>
	  <th>Товар</th>
	  <th>Количество продаж</th>
	  <th>Сумма с продаж</th>
	  <th>Количество бесплатных</th>
	</tr>
	{% for item in salesProduct %}
	<tr>
	  <td>{{ item.0.product.id }}</td>
	  <td>{{ item.0.product.name }}</td>
	  <td>{{ item.sales }}</td>
	  <td>{{ item.total }}</td>
	  <td>{{ item.free }}</td>
	</tr>
	{% endfor %} 
</table>